<!-- Site footer -->
    <footer>
      <div>
          <nav>
            <ul>
              <li a href="lookbook.html"> Look Book </a></li>
              <li a href="stores.html"> Stores </a></li>
              <li a href="rookiediaries.html"> Rookie Diaries</a></li>
            </ul>
          </nav>
      </div>
    </footer>
<!-- Site footer close -->

<script type="text/javascript"
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">

<script type="text/javascript" src="scripts/main.js"></script>
