<meta charset="utf-8">
<title>{{page.title}}</title>

<!-- Reset Browser - Normalise Stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<!-- This allows the browser to remember the screensize -->
<meta name= "viewport" content="width=device-width, initial-scale=1">

<!-- Icon font library TODO -->


<!-- Google Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400|Quicksand:300,400" rel="stylesheet">


<!-- This is Gridlex -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">

<!-- Link to CSS Stylesheet -->
<link rel="stylesheet" href="css/main.css">
